@use './variable' as variable;

#micro-new-icu-app {
  height: 100%;

  // height: calc(100vh - variable.$root-body-top);
  background-color: #f5f5f5;
  --ant-primary-color: rgb(52 157 209);
  // --global-color-table-thead-bg: #f5f5f5;
}

.eye-protect {
  background-color: #FFFFDE; /* 浅黄 */
  color: #333333; /* 深灰文字 */
}

:root {
  --ant-primary-color: rgb(52 157 209);
}

.theme {
  color: rgb(52 157 209);
}

.theme-bg {
  background-color: rgb(52 157 209);
}

// font
.title {
  font-size: var(--global-text-title-1);
}

.sub-title {
  font-size: var(--global-text-title-2);
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 20px;
}

.font-16 {
  font-size: var(--global-text-middle);
}

.font-15 {
  font-size: 15px;
}

// color
.white {
  color: #fff;
}

.line {
  border-bottom: 1px solid rgb(200 200 200 / 0.3);
}

.danger {
  color: #d03054;
}

// flex
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
