$namespace: 'new-icu';

/* stylelint-disable-next-line */
$root-body-top: var(--root-body-top, 0px) !default;
/* stylelint-disable-next-line */
$root-sidebar-width: var(--root-sidebar-width, 0px) !default;
